@font-face {
  font-family: Gilroy-Light;
  src: url(fonts/gilroy-light.otf);
}

@font-face {
  font-family: Gilroy-BoldItalic;
  src: url(fonts/gilroy-bolditalic.otf);
}

@font-face {
  font-family: Gilroy-Medium;
  src: url(fonts/gilroy-medium.ttf);
}

html {
  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  width: 100%;
}

#top_container {
  display: grid;
  max-width: 1920px;
  grid-template-columns: 43.54% auto;
  grid-template-rows: auto;
  margin-left: auto;
  margin-right: auto;
}

#left_column {
  grid-area: left;
  font-family: Gilroy-Light;
  align-self: end;
  justify-self: end;
  font-size: 2.5rem;
  padding-right: 46px;
  padding-bottom: 10px;
  width: 406px;
}

/* 1152px / 16px = 72em */
@media (max-width: 72em) {
  #left_column {
    align-self: center;
    justify-self: center;
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* 496px / 16px = 31em */
@media (max-width: 31em) {
  #left_column {
    width: auto;
    min-width: 329px;
    font-size: 2rem;
  }
}

.page-heading {
  font-family: Gilroy-BoldItalic;
  margin-bottom: 43px;
  font-size: 6rem;
}

.contact-header {
  font-family: Gilroy-Medium;
}

#top_row {
  grid-area: top;
  display: flex;
  margin-bottom: 52px;
}

#logo {
  width: 239.5px;
  height: auto;
  margin-top: 197px;
  margin-left: auto;
  display: block;
}

#vertical_line {
  background-color: #33ff98ff;
  width: 3px;
  height: 311px;
  margin-left: 22.66vw;
  margin-right: 29px;
  margin-bottom: auto;
}

/* 1920px / 16px = 120em */
@media (min-width: 120em) {
  #vertical_line {
    margin-left: 435px;
  }
}

/* 765px / 16px = 48em */
@media (max-width: 48em) {
  #vertical_line {
    margin-left: 29px;
  }
}

.nav {
  background-color: #000;
  height: 407px;
  width: 37px;
  writing-mode:vertical-rl;
  margin-top: 130px;
  margin-right: 17.5vw;
}


/* 1152px / 16px = 72em */
@media (max-width: 72em) {
  .nav {
  margin-right: auto;
  }
}

/* 1920px / 16px = 120em */
@media (min-width: 120em) {
  .nav {
    margin-right: 336px;
  }
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin: 0px;
  margin-right: 3px;
}

nav li {
  display:inline-block;
  list-style-type: none;
  font-family: Gilroy-Light;
  font-size: 2.5rem;
}

a:link {
  text-decoration: none;
  color: #fff;
}

a:visited {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}

a:active {
  text-decoration: none;
  font-weight: bold;
}

.rotate {
  display: block;
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

#bottom_row {
  grid-area: bottom;
  background-color: #000;
  height: 268px;
}

#horizontal_line {
  background-color: #33ff98ff;
  grid-area: horizontal_line;
  width: 943px;
  height: 3px;
  margin-top: 57.7px;
  margin-left: 22.28vw;
  margin-right: auto;
  margin-bottom: 3.5px;
}

/* 1920px / 16px = 120em */
@media (min-width: 120em) {
  #horizontal_line {
    margin-left: 427.8px;
  }
}

/* 1152px / 16px = 72em */
@media (max-width: 72em) {
  #horizontal_line {
    margin-left: auto;
    margin-right: 0;
  }
}

/* 943px / 16px = 59em */
@media (max-width: 59em) {
  #horizontal_line {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    min-width: 389px;
  }
}

#footer_container {
  grid-area: footer;
  display: grid;
  grid-template-columns: auto 80px 10.5px 80px 17.5%;
  grid-template-areas: ". fb . insta .";
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

#fb_wrapper {
  background-color: #000;
  grid-area: fb;
  width: 80px;
  height: 88px;
}

#facebook_link {
  display: block;
  height: 65px;
  width: 63.5px;
  margin:auto;
  margin-top: 5px;
}

#insta_wrapper {
  background-color: #000;
  grid-area: insta;
  width: 80px;
  height: 88px;
}

#instagram_link {
  display: block;
  height: 65px;
  width: 63.5px;
  margin:auto;
  margin-top: 5px;
}

#top_container {
  grid-template-areas:
    "left top"
    "left bottom"
    "horizontal_line horizontal_line";
}

/* 1152px / 16px = 72em */
@media (max-width: 72em) {
  #top_container {
    grid-template-areas:
      "top top"
      "left bottom"
      "horizontal_line horizontal_line";
  }
}

/* 1152px / 16px = 72em */
@media (max-width: 72em) {
  #top_container {
    grid-template-columns: auto auto;
  }
}


/* 1152px / 16px = 72em */
@media (max-width: 72em) {
  #bottom_row {
    align-self: end;
    width: auto;
    min-width: 30px;
  }
}
