@font-face {
  font-family: Gilroy-Light;
  src: url(fonts/gilroy-light.otf);
}

@font-face {
  font-family: Gilroy-BoldItalic;
  src: url(fonts/gilroy-bolditalic.otf);
}

@font-face {
  font-family: Gilroy-SemiBold;
  src: url(fonts/gilroy-semibold.otf);
}

@font-face {
  font-family: Gilroy-LightItalic;
  src: url(fonts/gilroy-lightitalic.otf);
}

@font-face {
  font-family: Gilroy-Medium;
  src: url(fonts/gilroy-medium.ttf);
}

html {
  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  width: 100%;
}

#container {
  display: grid;
  grid-template-columns: 60% auto;
  grid-template-rows: auto;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

#top_container {
  background-color: #000;
  grid-area: top;
  display: flex;
  padding-bottom: 74px;
}

#logo {
  width: 239.5px;
  height: auto;
  margin-top: 197px;
  margin-left: auto;
  display: block;
}

#vertical_line {
  background-color: #33ff98ff;
  width: 3px;
  height: 311px;
  margin-left: 20.55vw;
  margin-right: 29px;
  margin-bottom: auto;
}

/* 1920px / 16px = 120em */
@media (min-width: 120em) {
  #vertical_line {
    margin-left: 394.5px;
  }
}

/* 765px / 16px = 48em */
@media (max-width: 48em) {
  #vertical_line {
    margin-left: 29px;
  }
}

.nav {
  background-color: #fff;
  height: 407px;
  width: 37px;
  writing-mode:vertical-rl;
  margin-top: 130px;
  margin-right: 17.5vw;
}


/* 1152px / 16px = 72em */
@media (max-width: 72em) {
  .nav {
  margin-right: auto;
  }
}

/* 1920px / 16px = 120em */
@media (min-width: 120em) {
  .nav {
    margin-right: 336px;
  }
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin: 0px;
  margin-right: 3px;
}

nav li {
  display:inline-block;
  list-style-type: none;
  font-family: Gilroy-Light;
  font-size: 2.5rem;
}

a:link {
  text-decoration: none;
  color: #000;
}

a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}

a:active {
  text-decoration: none;
  font-weight: bold;
}

.rotate {
  display: block;
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

#first_line {
  grid-area: first_line;
  background-color: #33ff98ff;
  width: 943px;
  height: 3px;
  margin-left: auto;
  margin-right: 0;
  margin-top: 111px;
}

/* 943px / 16px = 59em */
@media (max-width: 59em) {
  #first_line {
    width: 100%;
  }
}

#info_box {
  display: flex;
  justify-content: flex-end;
  background-color: #000;
  color: #fff;
  grid-area: info_box;
  font-size: 2.5rem;
  font-family: Gilroy-Light;
  padding-top: 90px;
  padding-bottom: 90px;
  padding-right: 120px;
  padding-left: 33%;
  margin-top: 24px;
  margin-bottom: 100px;
}

#page_heading {
  grid-area: page_heading;
  font-family: Gilroy-BoldItalic;
  margin-left: 32.16%;
  margin-top: 7px;
  font-size: 6rem;
}

#corporate {
  grid-area: corporate;
  max-width: 1158px;
  justify-self: center;
  font-family: Gilroy-Light;
  font-size: 2.5rem;
}

.section_header {
  font-family: Gilroy-BoldItalic;
  font-size: 4.5rem;
  margin-bottom: 33px;
}

.offer {
  font-size: 2.5rem;
  font-family: Gilroy-SemiBold;
}

.price {
  font-size: 2.5rem;
  font-family: Gilroy-LightItalic;
}

#second_line {
  grid-area: second_line;
  background-color: #33ff98ff;
  width: 1571px;
  height: 3px;
  margin-left: 0;
  margin-right: auto;
  margin-top: 52.5px;
  margin-bottom: 87.5px;
}

/* 1571px / 16px = 98em */
@media (max-width: 98em) {
  #second_line {
    width: 100%;
  }
}

#applications {
  grid-area: applications;
  max-width: 1158px;
  justify-self: center;
  font-family: Gilroy-Light;
  font-size: 2.5rem;
}

#third_line {
  grid-area: third_line;
  background-color: #33ff98ff;
  width: 650px;
  height: 3px;
  margin-left: auto;
  margin-right: 0;
  margin-top: 78px;
  margin-bottom: 100px;
}

/* 650px / 16px = 41em */
@media (max-width: 41em) {
  #third_line {
    width: 100%;
  }
}

#prints {
  grid-area: prints;
  max-width: 1158px;
  justify-self: center;
  font-family: Gilroy-Light;
  font-size: 2.5rem;
}

#footer_container {
  grid-area: footer;
  max-width: 1920px;
  margin-top: 57.7px;
  margin-left: auto;
  margin-right: auto;
}

#links {
  display: flex;
}

#fb_wrapper {
  background-color: #000;
  margin-left: 73.66vw;
  margin-right: 10.5px;
  width: 80px;
  height: 88px;
}

/* 1920px / 16px = 120em */
@media (min-width: 120em) {
  #fb_wrapper {
    margin-left: 1414.3px;
  }
}

#facebook_link {
  display: block;
  height: 65px;
  width: 63.5px;
  margin:auto;
  margin-top: 5px;
}

#insta_wrapper {
  background-color: #000;
  margin-right: auto;
  width: 80px;
  height: 88px;
}

#instagram_link {
  display: block;
  height: 65px;
  width: 63.5px;
  margin:auto;
  margin-top: 5px;
}

#container {
  grid-template-areas:
    "top top"
    "first_line first_line"
    "info_box page_heading"
    "corporate corporate"
    "second_line second_line"
    "applications applications"
    "third_line third_line"
    "prints prints"
    "footer footer";
}

/* 1152px / 16px = 72em */
@media (max-width: 72em) {
  #container {
    grid-template-areas:
    "top top"
    "first_line first_line"
    "page_heading page_heading"
    "info_box info_black_box"
    "corporate corporate"
    "second_line second_line"
    "applications applications"
    "third_line third_line"
    "prints prints"
    "footer footer";
  }
}