@font-face {
  font-family: Gilroy-Light;
  src: url(gilroy-light.otf);
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  top: 0;
}

#container {
  max-width: 1920px;
  margin: auto;
  position: relative;
  height: 1215px;
}

.nav {
  background-color: #FFFFFF;
  width: 406px;
  height: 37px;
  position: absolute;
  top: 536px;
  left: 81vw;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  padding-left: 9px;
  padding-right: 9px;
  margin: 0px;
  margin-top: 4px;
}

nav li {
  list-style-type: none;
  font-family: Gilroy-Light;
  font-size: 2.5rem;
}

a:link {
  text-decoration: none;
  color: #000000;
}

a:visited {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}

.rotate {
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transform-origin: 0 0;
}

#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#vertical_line {
  background-color: #33ff98ff;
  width: 3px;
  height: 311px;
  position: absolute;
  left: 79vw;
  top: 0;
}

#horizontal_line {
  background-color: #33ff98ff;
  width: 943px;
  height: 3px;
  position: absolute;
  right: 0;
  bottom: 113.5px;
}