@font-face {
  font-family: Gilroy-Light;
  src: url(fonts/gilroy-light.otf);
}

@font-face {
  font-family: Gilroy-Medium;
  src: url(fonts/gilroy-medium.ttf);
}

html {
  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #000;
  width: 100%;
}

#top-container {
  display: flex;
  max-width: 1920px;
  margin: auto;
}

#footer-container {
  max-width: 1920px;
}

.nav {
  background-color: #fff;
  width: 406px;
  height: 37px;
  margin-top: 130px;
  margin-bottom: auto;
  margin-right: 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  padding-left: 9px;
  padding-right: 9px;
  margin: 0px;
  margin-top: 4px;
}

nav li {
  list-style-type: none;
  font-family: Gilroy-Light;
  font-size: 2.5rem;
}

a:link {
  text-decoration: none;
  color: #000;
}

a:visited {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}

a:active {
  text-decoration: none;
  font-weight: bold;
}

.rotate {
  -moz-transform: rotate(-90deg) translateX(-100%);
  -webkit-transform: rotate(-90deg) translateX(-100%);
  -o-transform: rotate(-90deg) translateX(-100%);
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: 0 0;
  display: block;
}

#logo {
  display: block;
  margin-left: 38vw;
  height: 461px;
  padding-top:125px;
  margin-bottom: 98px;
}

#links {
  display: flex;
}

#facebook_link {
  margin-left: 74vw;
  margin-right: 8px;
  width: 80px;
  height: 88px;
}

#instagram_link {
  margin-right: auto;
  width: 80px;
  height: 88px;
}

#vertical_line {
  background-color: #33ff98ff;
  width: 3px;
  height: 311px;
  margin-left: auto;
  margin-right: 29px;
  margin-bottom: auto;
}

#horizontal_line {
  background-color: #33ff98ff;
  width: 943px;
  height: 3px;
  margin-left: auto;
  margin-top: 42.9px;
  margin-bottom: 25.5px;
}

#text_container {
  display: flex;
  justify-content: flex-end;
  background-color: #fff;
  font-family: Gilroy-Medium;
  font-size: 1.875rem;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 160px;
  margin-right: 39vw;
}

#text {
  padding-right: 45px;
}